{{< layout}}

{{$pageTitle}}Check your photo and submit{{/pageTitle}}

{{$header}}
    <h1>Photo error</h1>
{{/header}}

{{$content}}
<p> Our automated check shows 

<ul class="list-bullet">
  <li>Sorry, we can’t crop this photo</li>
<li>It looks like your photo is black and white</li>
</ul>

<div class="form-group">
                <a href="../photo/upload" class="button" role="button">Choose another photo</a>
            </div>

  

<!-- END OF TOGGLE -->

           


{{/content}}

<!--{{$sidebar}}
<div class="column-one-third" style="margin-top:50px">
    <div class="sidebar related">
      <div class="photo-preview-inner">
          <h2 class="heading-medium">Your photo</h2>
          <div class="photo">
            <object type="image/jpg" data="/public/images/thumbnail.jpeg"type="image/svg+xml" tabindex="-1" style="width:150px">
            <img src="/public/images/woman-with-reddish-hair_ex@2x.jpg" alt="Head nad shoulder image of a woman with reddish hair standing in front of a grey background with neutral expression.">
            </object>
            <p style="font-size:16px; font-weight:bold; color:grey">abc.de/2pNfHiz</p>
           
        </div>
      </div>

    </div>
</div>
{{/sidebar}}-->

{{/ layout}}
