{{< layout}}

{{$header}}
<h1>Maxine's HMPO prototypes</h1>
{{/header}}

{{$content}}

<br/>
<!-- OIX -->

<h2>OIX</h2>
<p class="">Allows users to input a unique code when applying to renew their passport which then retrieves their digital photo taken in a photo booth or shop.</p>
<a class="button" href="./prototype_oix_170821/startpage">Current prototype</a>

<br>
<br>
<h3>Past prototypes</h3>
<a href="./prototype_oix_170821/startpage">08 August 2017</a>


<hr>

<!-- 12 - 15 year olds -->

<h2>12 - 15 applications</h2>
<p class="">New digital application process for 12 - 15 year olds, replacing the current paper application.</p>
<a class="button" href="/">Prototype will be here soon</a>

<br>
<br>
<!--<h3>Past prototypes</h3>
<a href="/">00 Month 2017</a>-->


<hr>

{{/content}}

{{/ layout}}
