{{< layout}}

{{$header}}
<h1>Maxine's HMPO prototypes</h1>
{{/header}}

{{$content}}


<!-- OIX -->

<h2 style="padding-top:10px">OIX</h2>
<p class="">Open Identity Exchange let users input a unique code to retrieve their digital photo (taken in a booth or shop) when renewing their passport online.
</p>
<a class="button" href="./prototype_oix_171004/startpage" style="margin-top:20px">Current prototype</a>
<br>
<br>
<p style="color:grey">Second iteration of override journey for lab on 17th October.<br>Started on 04 September 2017. </p>

<hr>
<h3>Past prototypes</h3>
<a href="./prototype_oix_170906/startpage">06 September 2017</a>
<p>Prototype for lab on 19th September - photo failure with override journey.</p>

<a href="./prototype_oix_170821/startpage">21 August 2017</a>
<p>Iteration of content on the code input and guidence pages.</p>

<a href="./prototype_oix_170601/startpage">08 August 2017</a>
<p>Iteration of previous prototype to....</p>




<!-- 12 - 15 year olds -->


<br>
<!--<h3>Past prototypes</h3>
<a href="/">00 Month 2017</a>-->


<hr>

{{/content}}

{{/ layout}}
