{{< layout}}

{{$pageTitle}}Photo uploaded{{/pageTitle}}

{{$header}}
    <h1>Photo uploaded</h1>
{{/header}}

{{$content}}

        <div class="panel-indent panel-photo-result panel-photo-pass">
            <h2>Photo passed first check</h2>
            <p>Your photo has been automatically checked for common mistakes.</p>
        </div>
        <p>We’ll still check it manually and we could still ask for another if something doesn't look right.</p>

        <div class="panel panel-border-wide">
            <p>
              If you're not happy with this photo, <a href="/uploadphoto">enter your code again</a>.
            </p>
        </div>

        <a href="/prototype_oix_170601/uploadphoto/plain-expression" class="button">Use this photo</a><br/><br/>


{{/content}}

{{$sidebar}}
<div class="column-one-third">
    <div class="sidebar related">
      <div class="photo-preview-inner">
          <h2 class="heading-medium">Your photo</h2>
          <div class="img">
            <object type="image/jpg" data="/public/images/woman-with-reddish-hair_ex@2x.jpg"type="image/svg+xml" tabindex="-1" style="width:70%">
            <img src="/public/images/woman-with-reddish-hair_ex@2x.jpg" alt="Head nad shoulder image of a woman with reddish hair standing in front of a grey background with neutral expression.">
            </object>
        </div>
      </div>

    </div>
</div>
{{/sidebar}}

{{/ layout}}
