{{< layout}}

{{$back}}
<div class="photo-guide">
            <a href="/../prototype_oix_170821/intro/choose-photo-method" class="back-link">Get your digital passport photo</a>
            <span class="marker">Guide part 1 of 2</span>
        </div>
{{/back}}

{{$main-content}}

        <div class="column-full">
            <div class="flash-card">
                <header>
                    <h1>What to ask for at a shop</h1>
                </header>
                <div class="grid-row">
                  <div class="column-two-thirds">

                      <p>You'll need to ask if</p>
                      
                      <ul class="list list-bullet">
                      <li>their photos meet the <a href="/../prototype_oix_170821/photoguide-static/photorules">rules for digital passport photos</a></li>
                      <li>they can give you a photo</li>
                      </ul>

                      <p>We'll show you how to use your photo code to retrieve your digital photo when you apply online.
                      </p>
                      <p>If a shop can't give you aphoto code, as them to email your digital photo as an attachment. We'll show you how to upload it.</p>  

                      <nav class="guide-nav">
                                <ul>
                                <li class="button-guide button-guide-previous">
                                                   <a href="/../prototype_oix_170821/intro/choose-photo-method" style="font-size: 20px">Back</a>
                                               </li>
                                   <li class="button-guide button-guide-next">
                                       <a href="/prototype_oix_170821/photoguide-shop/booths" style="font-size: 20px">Next</a>
                                   </li>
                                </ul>
                      </nav>
                    </div>
                </div>
            </div>
        </div>

{{/ main-content}}

{{/ layout}}
