{{< layout}}
{{$propositionHeader}}{{/propositionHeader}}

{{$pageTitle}}Error{{/pageTitle}}

{{$header}}
    <h1>We can't find your code</h1>
{{/header}}

{{$content}}
<p>Check your code and try again. You need to enter the capital and lower case letters exactly.

<p>You entered: ab.de/1fG2h3i</p>

<p>If this keeps happening, contact the company that provided your digital photo.</p>

<a href="/prototype_oix_170821/intro/get-photo-code" class="button">Try again</a><br/><br/>

{{/content}}

{{/ layout}}
